#result-area {
    position: relative;
    padding: 0 2em;
    min-height: 8em;
    border-radius: 16px;
}

#result-area>canvas {
    border-radius: inherit;
    width: max(100%, 8em);
    max-width: 32em;
}