.setting-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em auto;
    padding: 1.2em;
    background-color: var(--sub-bg);
    border: var(--text) 2px dashed;
    border-radius: 16px;
}

.setting-container > .setting-container {
    margin: 0;
}

.setting-container > legend {
    font-size: 0.8em;
    padding: 0.2em 0.8em;
    border-radius: 16px;
    border: transparent 2px solid;
    transition: border-color 0.2s, color 0.4s, background-color 0.2s;
}

.setting-container:hover > legend {
    border-color: var(--sub-bg);
    color: var(--sub-bg);
    background-color: var(--text);
}

.setting-container > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.setting-container label {
    width: 120px;
    font-weight: bold;
}

.setting-container button {
    padding: 0.6em 1em;
    background-color: var(--card-bg);
    color: var(--text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.5s;
    font-variant: all-petite-caps;
}

.setting-container button:hover {
    color: var(--sub-text);
}

.setting-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
