.petpet-app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.petpet-app > div {
    margin: 0 1em;
}

.petpet-app > div > div {
    padding: 0 0 0.8em;
    border-top: var(--sub-bg) 2px dashed;
    position: relative;
    width: min(80vw,24em);
}

.petpet-app h3 {
    color: var(--text);
}