.modal-select {
    width: calc(min(50vw, 24em) + 8em);
    height: 95%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--sub-bg);
    opacity: 1.0;
    overflow: hidden;
    box-shadow: #333 5px 5px 5px;
    border: 5px solid var(--sub-bg);
    border-radius: 12px;

    z-index: 100;
}

.modal-select>.index-list {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-select>.index-list div {
    padding: 0.6em;
    color: var(--text);
    font-size: 0.8rem;
    margin-top: 1.8em;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s;
}

.modal-select>.index-list div:hover {
    z-index: 150;
    background: hsla(0, 0%, 80%, .14);
    transform: scale(1.3);
}

.modal-select.medium>.index-list div:hover {
    transform: scale(1.4);
}

.modal-select>.index-list>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-select>.index-list>div>h3 {
    margin: 0.2em 0;
}
.modal-select>.index-list>div>h3>span {
    margin-left: 0.4em;
    font-size: 0.6em;
    transition: margin-left 0.4s;
}

.modal-select>.index-list>div:hover>h3>span {
    margin-left: 0.8em;
}

.modal-select>.index-list>div>img {
    max-width: 20em;
    max-height: 18em;
    object-fit: contain;
    background: linear-gradient(
            45deg,
            var(--text) 0, var(--text) 25%, transparent 25%, transparent 50%,
            var(--text) 50%, var(--text) 75%, transparent 75%, transparent
    );
    background-size: 20px 20px;
    border: 4px var(--text) solid;
    border-radius: 8px;
}

.modal-select.medium>.index-list>div>img {
    max-width: 12em;
    max-height: 10em;
}

.modal-select.medium>.index-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.modal-select.small>.index-list>div>img {
    max-width: 6em;
    max-height: 4em;
}

.modal-select.small>.index-list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.modal-select.small>.index-list>div {
    flex-direction: row;
}

.modal-select.small>.index-list div {
    width: 100%;
    margin-top: 1.2em;
    justify-content: center;
}

.modal-select.small>.index-list>div>h3 {
    margin-left: 1em;
    font-size: 1.8em;
    letter-spacing: 0;
    font-weight: 600;
    transition: letter-spacing 0.2s,
                font-weight 0.2s
}

.modal-select.small>.index-list>div:hover>h3 {
    font-weight: 400;
    letter-spacing: 2px;
}

.modal-select>.index-list p {
    text-align: center;
    font-weight: 600;
}

.modal-select>input {
    font-size: 1.4em;
    font-weight: bolder;
    height: 1.2em;
    width: 100%;
    border: none;
    border-bottom: var(--text) dashed 2px;
    outline: none;
    margin: 0;
    /*box-shadow: #999 5px 5px 10px;*/
}

@media (max-width: 650px) {
    .modal-select>.index-list div {
        min-width: max-content;
        padding: 0.8em 0.2em;
        margin: 0.6em 0.2em;
    }
}