dialog.readme[open] {
    border-radius: 16px;
    border: none;
    padding: 0;
    width: calc(min(50vw, 24em) + 8em);
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
dialog>iframe{
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}